# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# macOS
.DS_Store

# AI Generated Data
embedding_cache/
qdrant_storage/
sample_data/

# Logs
*.log

# VS Code
.vscode/